/*----Default Values-----
Fonts: Roboto
Colors:
1. Forest blue: #0a3d62
2. Red: #ff0000
3. Black: #000
4. White: #fff
-----------------------*/

/*----------------------
       Basic Setup
----------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Raleway,sans-serif;
    
}

li{
    list-style:none ;
    display: inline-block;
}

a{
    text-decoration: none;
}

body{
    color: #000;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}
/*----------------------
       Header
----------------------*/

.main-nav{
    height: 10vh;
}
.video-container{
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.video-container video{
    object-fit: cover;
    width: 100vw;
    height: 90vh;
}
.video-container::after{
    content: "";
    position: absolute;
    top:10vh;
    left:0;
    width: 100%;
    height: 90vh;
    background-color: #0a3d62;
    opacity: 0.7;
    
}
.main-nav img{
height: 9vh;
width: auto;
}
.main-nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu a{
    margin: 0 45px;
    color: #0a3d62;
    font-size: 20px;
}
.nav-menu li{
    margin-top: 10px;
}
.nav-menu li::after{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: #ff0000;
    transition: all 0.3s ease;
    margin-top: 10px;
}
/*
In CSS, ::after creates a pseudo-element that is the last child of the selected element. 
It is often used to add cosmetic content to an element with the content property. 
It is inline by default.
*/
.nav-menu li:hover::after{
    width: 100%;
}

.centered-elements{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:999;
}

.centered-elements h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}
.centered-elements span{
    color: #47ccf5;
    font-weight: 700;
}

.centered-buttons{
    margin-top: 50px;
}
.centered-buttons a{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    padding: 15px 40px;
    margin: 30px;
    border: 2px solid #0a3d62;
    transition: all 0.3s ease;
}
.centered-buttons a:hover{
    background-color: #0a3d62;
    border-radius: 10px;
}

#arrow-down{
position: absolute;
left: 50%;
bottom: 40px;
margin-left: -13px;
width: 26px;
height: 26px;
z-index: 9997;
border:  solid #fff;
border-width: 0 3px 3px 0;
transform: rotate(45deg);
animation: arrowAnim 2s infinite;
}

@keyframes arrowAnim{
    0%,100%{
        bottom: 40px;
    }
    30%{
        bottom: 25px;
        border-color: #0a3d62;
    }
}

.open-button{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 99999999;
}
.open-button span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #0a3d62;
    border-radius: 2px;
    left:0;
    opacity: 1;
    transform: rotate(0);
    transition: all 0.25s ease-in-out;
    display: none;
}
.open-button span:nth-child(1){
    top:0;
    transform-origin: left center;
}
.open-button span:nth-child(2){
    top:10px;

}
.open-button span:nth-child(3){
    top:20px;
    transform-origin: left center;
}

.open-button.open span:nth-child(1){
transform: rotate(45deg);
top:-3px;
left:8px;
}
.open-button.open span:nth-child(2){
width: 0;
opacity: 0;
}
.open-button.open span:nth-child(3){
    transform: rotate(-45deg);
    top:19px;
    left: 8px;
}

/*----------------------
       activites
----------------------*/
.activities{
    margin: 120px 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.activity-container{
    width: 21%;
}
.image-container{
    width: 100%;
    position: relative;
}
.image-container img{
    width: 100%;
   
    display: block;
}
.image-container .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    font-size: 24px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: #fff;
    
    visibility: hidden;
}
.image-container:hover .overlay{
    visibility: visible;
    background: #0a3d62ab;
}

.activity-container h3{
    margin: 20px 0;
    font-size: 25px;
    letter-spacing: 1px;
    border-left: 4px solid #ff0000;
    padding-left: 10px;
    color: #0a3d62;
}



/*----------------------
       gallery
----------------------*/
.gallery-container{
    display: flex;
    margin-bottom: 120px;
    flex-wrap: wrap;
    width: 100%;
}
.gallery-container div{
 cursor: pointer;
 overflow: hidden;
 flex:1 0 25%;
 background-color: #0a3d62;
}
/*
flex: flex-grow flex-shrink flex-basis|auto|initial|inherit;

The flex-grow property specify how much the item will grow 
relative to the rest of the flexible items inside the same container.

The flex-shrink property specifies how the item will shrink 
relative to the rest of the flexible items inside the same container.

The flex-basis property specifies the initial length of a flexible item.
*/


.gallery-container img{
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transition: all 0.3s ease;
}
.gallery-container img:hover{
    opacity: 1;
    transform: scale(1.2);
}

/*----------------------
       contact
----------------------*/
.contact{
    position: relative;
    overflow: hidden;
}

#map{
    width: 100%;
    height: 100vh;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#google-maps{
 height: 100%;
 width: 100%;
}
.gm-control-active,.gm-svpc,.gmnoprint,.gm-style-mtc {
    display: none;
}
.contact-us{
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left: 50px;
    padding: 30px 20px;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    box-shadow: 1px 1px 30px -3px #000;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.contact-us:hover{
    box-shadow: 1px 1px 60px -3px #000;
}
.contact-us form{
    display: flex;
    flex-direction: column;
}
.contact-us h2{
    font-size: 27px;
    text-transform: uppercase;
    color: #0a3d62;
}
.contact-us p{
    color: #999;
    margin-top: 10px;
}

.contact-us form label{
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 7px;
    color: #666;
    font-size: 18px;
    font-weight: 700;
}
.contact-us form input,
.contact-us form textarea
{
    padding: 7px 10px;
    border: 1px solid #999;
    border-radius: 15px;
    font-size: 17px;
    color: #999;
}
.contact-us form input:focus, 
.contact-us form textarea:focus
{
    outline: none;
    box-shadow: 1px 1px 15px -3px #999;
    border-color: #ff0000;
}

.contact-us form textarea{
resize: none;
}

.contact-us button{
    font-size: 18px;
    color: #0a3d62;
    padding: 10px;
    font-weight: 300;
    margin-top: 35px;
    width: 150px;
    border: 2px solid #0a3d62;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.2s ease;
}

.contact-us button:hover{
    background-color: #0a3d62;
    color: #fff;
    border-radius: 10px;
}

.backToTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    display: block;
    cursor: pointer;
    background-color: #0a3d62;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 15px -3px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backToTop div{
    border: solid #fff;
    border-width: 0 3px 3px 0;
    padding: 6px;
    transform: rotate(-135deg);
    display: inline-block;
    
}
.hidden{
    display: none;
}
/*----------------------
       Header
----------------------*/

/*----------------------
       Header
----------------------*/
